<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
	<title>Thank you Board</title>
	<link rel='stylesheet' href='css/lib/normalize.css'>
	<link rel='stylesheet' href='css/lib/semantic.min.css'>
	<link rel='stylesheet' href='css/lib/animations.css'>
  <link rel="stylesheet" href="css/lib/font-awesome-4.5.0/css/font-awesome.min.css">
	<link rel='stylesheet' href='css/ZenTask.css'>
	<script src='js/lib/jquery-1.8.2.min.js'></script>
	<script src='js/lib/jquery-easing.js'></script>
	<script src='js/lib/vue.min.js'></script>
	<script src='js/lib/vue-router.min.js'></script>
	<script src='js/lib/css3-animate-it.js'></script>
	<script type='text/javascript' src='js/lib/semantic.js'></script>
	<script type='text/javascript' src='js/KMJS.js'></script>
	<script type='text/javascript' src='js/ZenTask.js'></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
</head>
<body id="app">
	<section class="init" @click="hideInit()">
		<div>
	    <h2 class="subTitle" style="display:none;">アタリマエを言葉にしよう。</h2>
	    <h1 class="title" style="display:none;"><i class="fa fa-map-o"></i> Thanks Board</h1>
		</div>
	</section>
  <header>
		<h1><i class="fa fa-map-o"></i> Thanks Board</h1>
  </header>

  <main>

		<section class="ctrlSection" style="">
			<span class="addBtn" @click="showDetail(-1, true)"><i class="fa fa-plus-circle"></i></span>
			<i style="display: none" class="fa fa-search"></i>
			<input style="display:none" class="search" placeholder="カード検索" type="search" name="query" v-model="filterKey" @keyup="setCardEvent()">
		</section>

		<section class="taskSection">
			<div class="row animatedParent animateOnce" data-sequence="150">
			  <div v-for="task in tasks | filters filterKey" class="task animated flipInX" data-id="{{$index}}" style="">
			    <div class="header">
						<p class="id">No.{{task.id}}</p>
		      	<p class="deleteBtn" @click="deleteTask(task.id, task)"><i class="fa fa-times-circle"></i></p>
		      </div>
					<div class="body" v-bind:style="{background-color: task.color;}" @click="showDetail($index, false)">
						<p class="title">{{task.title}}</p>
						<div class="user">
							<p class="fromUser">{{task.fromUser}}</p>
							<p><i class="fa fa-long-arrow-right"></i></p>
							<p class="toUser">{{task.toUser}}</p>
						</div>
		      </div>
					<div class="footer">
						<p class="count"><i class="fa fa-heart"></i>{{task.count}}</p>
						<p class="insertDate">{{task.created_at | dateFormat}}</p>
					</div>
		    </div>
			</div>
		</section>

		<section class="detailSection">
			<div class="ui basic modal detail">
			  <div class="head">
					<p class="id">No. {{tasks[detailIndex].id}}</p>
					<p class="insertDate">{{tasks[detailIndex].created_at | dateFormat}}</p>
					<input placeholder="タイトルを入力してください" maxlength="11" class="form title" type="text" v-model="tasks[detailIndex].title">
			  </div>
				<div class="contents">
					<textarea placeholder="ありがとうメッセージを入力してください" class="form body" v-model="tasks[detailIndex].body">{{tasks[detailIndex].body}}</textarea>
					<div class="user">
						<input placeholder="自分の名前" maxlength="5" class="form fromUser" type="text" v-model="tasks[detailIndex].fromUser">
						<span><i class="fa fa-long-arrow-right"></i></span>
						<input placeholder="宛先の名前" maxlength="5" class="form toUser" type="text" v-model="tasks[detailIndex].toUser">
					</div>
				</div>
				<div class="foot">
					<p v-show="!isNew" @click="incrementCount()" class="count"><i class="fa fa-heart"></i> <span class="num"> {{tasks[detailIndex].count}}</span> 人が <span>ありがとう</span> と言っています</p>
					<div class="actions">
						<button v-show="isNew" class="ui grey basic button" @click="addTask()">登録する</button>
						<button v-show="!isNew" class="ui grey basic button" @click="updateTask()">更新する</button>
						<button class="ui grey basic button" @click="closeDetail()">キャンセル</button>
					</div>
				</div>
			</div>
		</section>
  </main>

</body>
</html>
